* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(213, 207, 207);
}

body {
    background-image: url(images/backaisqsh.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    min-height: 100vh; 
}

/* Beggining Header/Footer */

header {
    width: 100%;
    height: 65px;
  /*position: sticky;*/
    top: 0;
    z-index: 0;
    background-color: rgb(0, 0, 0);
}

header nav {
    width: 100%;
    height: 65px;
    display: flex;
}

.head-ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

footer {
    width: 100%;
    height:100%;
    background-color: rgb(0, 0, 0);
}

.foot-ul {
    width: 100%;
    height: 100%;
}

ul li {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-container {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: end;
    padding: 6px;
    font-size: small;
}

/* Beggining Main */
/*Test video selections*/

video {
    width: 100%;
    height: fit-content;
    border: solid rgb(155, 13, 238);
}

.home-glass-container {
    width: 49%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 20px;
}

.div-container-one {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
}

@media only screen and (max-width: 768px) {

    .div-container {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .home-glass-container {
        width: 100%;
        height: 100%;
        margin-bottom: 300px; 
    }

    .home-glass-container  {
        width: fit-content;
        display: block;
    }
}

/*Frosted Glass Attempt*/

.glass-container {
    width: 51%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 20px;
}

article p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.brand-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 76, 76);
}

.brand-container i {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.glass-container-bio {
    width: 49%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 20px;
}

/*Our-Company-Page-Specs*/

.section-glass-container {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 9px;
    display: flex;
    flex-direction: column;
}

.bio-image-michael {
    float: left;
    width: 350px;
    margin: 0px 20px 10px 0;
    display: block;
    margin-bottom: 20px;  
}

.bio-image-emily {
    float: left;
    width: 350px;
    margin: 6px 6px 6px 0px;
    display: block;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
     .section-glass-container {
        flex-direction: column;
    }
     .bio-image-michael img {
        width: 200px;
        border-radius: 35%;
        margin-top: 12px;
     }
}

@media only screen and (max-width: 768px) {
     .section-glass-container {
        flex-direction: column;
    }
     .bio-image-emily img {
        width: 200px;
        border-radius: 35%;
        margin-top: 12px;
     }
}

/*project page*/

.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex;
    padding: 4px;
}

.contact-container a {
    width: 25%;
}

.contact-glass-container {
    width: 50%;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-glass-container {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 20px;
}

.project-container-one {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    margin-bottom: 4px;
    gap: 12px;
}

/* expert page */

.expert-container-one {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}

.expert-container-two {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px; 
    gap: 12px;
}

.expert-glass-container {
    width: 45%;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 10px;
    gap: 12px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: larger;
    }

    .expert-glass-container {
       width: fit-content;
       height: fit-content;
       background: rgba(255, 255, 255, 0.1);
       backdrop-filter: blur(10px);
       -webkit-backdrop-filter: blur(10px);
       border: 1px solid rgba(255, 255, 255, 0.2);
       box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
       border-radius: 16px;
       padding: 10px;
       display: flex;
       align-items: center;
       flex-wrap: wrap;
       flex-direction: column;
    }
} 

@media only screen and (max-width: 431px) {

    .foot-ul a {
        margin-top: 75px;
        height: 10%;
    }
}