
/* New Site 081626 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(213, 207, 207);
}

body {
    width: 100%;
    height: auto;
    background-image: url(images/company-web-page-design.webp);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    min-height: 100dvh;  
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    height: 65px;
    background-color: rgb(0, 0, 0);
}

.navbar-container {
    width: 100%;
    height: 65px;
}

.head-ul {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.head-ul a {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

/* Index page */

.main-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.section-container {
    width: 100%;
    height: auto;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.image-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    gap: 12px;
}
.rates-container {
    width: 100%;
    height: auto;
    padding: 12px;
    gap: 9px;
    background-color: rgba(175, 27, 224, 0.754);
    border:  .5px solid #ea61fc;
    box-shadow: 0 0 0 .5px #ea61fc;
    border-radius: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.article-rates-container {
    width: 100%;
    padding: 12px;
    gap:12px;
    border: solid .5px white;
    box-shadow: 0 0 0 .5px #ffffff;
    background-color: rgba(157, 142, 142, 0.545);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.image-container img {
    width: 30%;
    height: 60%;
    float: left;
    display: flex;
    justify-content: center;
    border-radius: 19px;
}

.article-container {
    width: 50%;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    margin: 0px;
    margin-top: 24px;
    margin-bottom: 12px;
    padding: 9px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /**/
    transform: translateY(-2px);
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    transition: all 0.9 ease;
    position: relative;
    overflow: hidden;
}
/* Expert page */
.expert-main-container {
    width: 100%;
    height: auto;
    display: flex;
}

.expert-container-one {
    width: 100%;
    height: auto;
    padding: 10px;
}

.expert-container-one h2 {
    font-size: larger;
    color: rgb(230, 50, 134);
}

.expert-glass-container {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    padding: 10px;
    gap: 12px;
} 

.expert-glass-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1%; /* Start off-screen */
  width: 19%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(5deg); /* Skew for diagonal shine */
  transition: left 0.9s ease; /* Slide animation */
}

.expert-glass-container:hover::before {
  left: 98%; /* Slide across on hover */
}

.expert-glass-container:hover {
    transform: translateY(-0px);
    box-shadow: 0 1px rgba(0, 0, 0, 0.3);
    transition: all 0.9 ease;
    position: relative;
    overflow: hidden;
}

.team-bio-container {
    width: 100%;
    height: auto;
    padding: 12px 0 0 12px;
    background-color: rgba(29, 29, 29, 0.696);
}
.team-bio-container img {
    width: 50%;
    height: auto;
    border-radius: 3px;
}

.team-article {
    width: 100%;
    height: auto;
    padding: 3px;
}

.team-article h3 {
    color: rgb(0, 255, 255);
}
.team-article p {
    width: 50%;
}

.team-bio-container-1 {
    width: 100%;
    height: auto;
    padding: 12px;
    background-color: rgba(29, 29, 29, 0.696);
    display: flex;
    justify-content: end;
    align-items: center;
}

.team-article-1 {
    width: 100%; 
    height: auto;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.team-article-1 img {
    width: 50%;
    height: auto;
    border-radius: 3px; 
}

.team-article-1 p {
    width: 50%;
}

.team-article-1 h3 {
    width: 50%;
    text-align: left;
    color: rgb(230, 50, 134);
}
/*Contact Page*/
.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex;
    text-decoration: none;
    text-align: center;
    padding: 12px;
}

.contact-container h2 {
    text-align: center;
}

.contact-glass-container {
    width: 90%;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 16px;
    margin-top: 12px;
    padding: 20px;
}

.contact-glass-container:hover {
    transform: translateY(-52px);
    box-shadow: 0 3px rgba(0, 0, 0, 0.3);
    transition-duration: 3s;
}

.company-sponsor-desktop {
    color: pink;
    font-size: 59px;
    font-weight: bolder;
    text-align: center;
    padding: 49px;
}

/* Contact Page End */

main {
    flex-grow: 1;
}

.brand-container {
    width: 100%;
    height: 49px;
    background-color: rgb(76, 76, 76); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

/*Footer*/

.foot-container {
    width: 100%;
    height: auto;
    padding: 12px;
    background-color: black;
}

.navigation-container {
    width: 100%;
    height: auto;
}

.foot-ul {
    width: 100%;
    height: 29px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-ul a {
    text-decoration: none;
    color: rgb(213, 207, 207);
}

.copyright-container {
    margin-top: 44px;
    font-size: smaller;
    text-align: center;
    font-size: 9px;
}

.spam-name {
    color: rgb(247, 48, 214);
}

/* Mobile */

@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }

    main {
    flex-grow: 1;
    }

    .main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}



.section-container {
    width: 100%;
    height: auto;
    padding: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.article-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%;
    height: 20%;
    gap: 12px;
    padding: 12px;
}

.rates-container {
    width: 99%;
    height: auto;
    padding: 12px;
    gap: 12px;
    background-color: rgba(175, 27, 224, 0.754);
    border-radius: 0 12px 12px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.article-rates-container {
    width: 100%;
    height: fit-content;
    padding: 12px;
    gap: 22px;
    border: solid 1px white;
    background-color: rgba(157, 142, 142, 0.545);
    border-radius: 8px;
}

.article-rates-container h3 {
    text-align: center;
    margin-bottom: 12px;
}

.image-container img {
    width: 50%;
    height: auto;
    border-radius: 9px;
    gap: 12px;
    padding: 12px;
    display: none;
}
/*Expert*/

.team-bio-container {
    width: 100%;
    height: auto;
    padding: 12px 0 0 12px;
    background-color: rgba(29, 29, 29, 0.696);
}
.team-bio-container img {
    width: 80%;
    height: auto;
    border-radius: 3px;
}

.team-article {
    width: 100%;
    height: auto;
    padding:  3%;
}

.team-article h3 {
    font-size: 16px;
    color: rgb(0, 255, 255);
}
.team-article p {
    width: 80%;
    float: left;
    margin-right: 15px;
}

.team-bio-container-1 {
    width: 100%;
    height: auto;
    padding: 12px;
    background-color: rgba(29, 29, 29, 0.696);
    display: flex;
    justify-content: end;
    align-items: center;
}

.team-article-1 {
    width: 100%; 
    height: auto;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.team-article-1 img {
    width: 80%;
    height: auto;
    border-radius: 3px;
    padding: 2px; 
}

.team-article-1 p {
    width: 80%;
}

.team-article-1 h3 {
    width: 80%;
    text-align: left;
    font-size: large;
    text-align: center;
    color: rgb(230, 50, 134);
}

.company-sponsor-desktop {
    display: none;
}

.company-sponsor-mobile {
    width: 100%;
    height: auto;
    color: rgb(252, 251, 251);
    font-size: 59px;
    font-weight: bolder;
    text-align: center;
    padding: 29px;
}

.foot-container {
    width: 100%;
    height: auto;
    padding: 12px;
    background-color: black;
}

.navigation-container {
    width: 100%;
    height: auto;
}

.foot-ul {
    width: 100%;
    height: 29px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-ul a {
    text-decoration: none;
    color: rgb(213, 207, 207);
    font-size: 10px;
    font-weight: bolder;
}

.form-container {
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
legend {
    color: #69d4fbbe;
    text-align: center;
    border: 1px solid black;
    border-radius: 0 8px 8px;
    padding: 6px;
    background-color: black;
    box-shadow: 0 0 0 1px #69d4fbbe
}

.field-form {
    width: 55%;
    height: auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .5px solid #fff;
    border-radius: 8px;
    background-color: rgb(39, 36, 36);
    padding: 19px;
    gap: 12px;
}

.form-image {
    width: 10%;
    height: 399px;
    border-radius: 3px;
}
.contact-form-1 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

}

/* Testing */

h1  {
    text-align: center;
    margin: 29px;
    color: rgb(238, 36, 191);
    background-color: blue;
    border-radius: 8px;
}

.form-container {
    width: 90%;
    height: auto;
    border-radius: 8px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.field-form {
    width: 45%;
    height: auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .5px solid #fff;
    border-radius: 8px;
    background-color: rgb(76, 76, 76);
    padding: 19px;
    gap: 12px;
}

.form-image {
    width: 40%;
    height: 399px;
    border-radius: 3px;
}
.contact-form-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Q & A*/

.q-container {
    border-top: dotted white .5px;
    background-color:  rgba(175, 27, 224, 0.754);
    padding: 12%;
}

.q-container h2 {
    color: black;
    text-align: center;
    margin-bottom: 29px;
}

.question strong {
    color: rgb(246, 7, 7);
}

.question {
    color: rgb(251, 251, 251);
    margin-bottom: 29px;
    text-align: center;
}

.answer {
    color: black;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 99px;
}

.answer strong {
    color: rgb(39, 211, 27);
}